.frame-container {
    width: 100%;
}

.frame-images-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    /* Isso alinhará as imagens no topo */
}

.frame-main-image-container {
    flex: 1;
    /* Ocupa todo o espaço disponível */
    margin-right: 10px;
    /* Espaçamento entre a imagem principal e as imagens menores */
}

.frame-main-image {
    width: 100%;
    /* A imagem principal ocupa todo o espaço disponível */
    height: auto;
}

.frame-other-images-container {
    display: flex;
    flex-direction: column;
    /* Organiza as imagens menores em uma coluna */
    gap: 10px;
    /* Espaçamento entre as imagens menores */
    align-items: flex-start;
    /* Alinhar imagens menores à esquerda */
}

.frame-other-image {
    width: 100px;
    /* Tamanho das imagens menores */
    height: auto;
    cursor: pointer;
}